.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

.theme {
  all: unset;
  background-color: rgb(215, 212, 212);
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: x-large;
  margin-bottom: 10px;
  position: relative;
  left: 2%;
}

.theme:hover {
  background-color: rgb(119, 114, 114);
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .theme {
    position: relative;
    left: 3%;
  }
}
